(edif ddr_input
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2017 3 1 20 38 1)
      (program "SCUBA" (version "Diamond (64-bit) 3.9.0.99.2"))))
      (comment "C:\lscc\diamond\3.9_x64\ispfpga\bin\nt64\scuba.exe -w -n ddr_input -lang verilog -synth synplify -bus_exp 7 -bb -arch sa5p00 -type iol -mode Receive -io_type LVCMOS33 -width 5 -freq_in 125 -gear 2 -del 128 -fdc C:/FPGA/gravitinolink/experiments/tempy_temp/ddr_input/ddr_input.fdc ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell IB
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port I
            (direction INPUT))
          (port O
            (direction OUTPUT)))))
    (cell DELAYG
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port A
            (direction INPUT))
          (port Z
            (direction OUTPUT)))))
    (cell IDDRX1F
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port D
            (direction INPUT))
          (port SCLK
            (direction INPUT))
          (port RST
            (direction INPUT))
          (port Q0
            (direction OUTPUT))
          (port Q1
            (direction OUTPUT)))))
    (cell ddr_input
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port clkin
            (direction INPUT))
          (port reset
            (direction INPUT))
          (port sclk
            (direction OUTPUT))
          (port (array (rename datain "datain(4:0)") 5)
            (direction INPUT))
          (port (array (rename q "q(9:0)") 10)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance Inst3_IB
            (viewRef view1 
              (cellRef IB))
            (property IO_TYPE
              (string "LVCMOS33")))
          (instance Inst2_IDDRX1F4
            (viewRef view1 
              (cellRef IDDRX1F)))
          (instance Inst2_IDDRX1F3
            (viewRef view1 
              (cellRef IDDRX1F)))
          (instance Inst2_IDDRX1F2
            (viewRef view1 
              (cellRef IDDRX1F)))
          (instance Inst2_IDDRX1F1
            (viewRef view1 
              (cellRef IDDRX1F)))
          (instance Inst2_IDDRX1F0
            (viewRef view1 
              (cellRef IDDRX1F)))
          (instance udel_dataini4
            (viewRef view1 
              (cellRef DELAYG))
            (property DEL_MODE
              (string "SCLK_CENTERED")))
          (instance udel_dataini3
            (viewRef view1 
              (cellRef DELAYG))
            (property DEL_MODE
              (string "SCLK_CENTERED")))
          (instance udel_dataini2
            (viewRef view1 
              (cellRef DELAYG))
            (property DEL_MODE
              (string "SCLK_CENTERED")))
          (instance udel_dataini1
            (viewRef view1 
              (cellRef DELAYG))
            (property DEL_MODE
              (string "SCLK_CENTERED")))
          (instance udel_dataini0
            (viewRef view1 
              (cellRef DELAYG))
            (property DEL_MODE
              (string "SCLK_CENTERED")))
          (instance Inst1_IB4
            (viewRef view1 
              (cellRef IB))
            (property IO_TYPE
              (string "LVCMOS33")))
          (instance Inst1_IB3
            (viewRef view1 
              (cellRef IB))
            (property IO_TYPE
              (string "LVCMOS33")))
          (instance Inst1_IB2
            (viewRef view1 
              (cellRef IB))
            (property IO_TYPE
              (string "LVCMOS33")))
          (instance Inst1_IB1
            (viewRef view1 
              (cellRef IB))
            (property IO_TYPE
              (string "LVCMOS33")))
          (instance Inst1_IB0
            (viewRef view1 
              (cellRef IB))
            (property IO_TYPE
              (string "LVCMOS33")))
          (net dataini_t4
            (joined
              (portRef Z (instanceRef udel_dataini4))
              (portRef D (instanceRef Inst2_IDDRX1F4))))
          (net dataini_t3
            (joined
              (portRef Z (instanceRef udel_dataini3))
              (portRef D (instanceRef Inst2_IDDRX1F3))))
          (net dataini_t2
            (joined
              (portRef Z (instanceRef udel_dataini2))
              (portRef D (instanceRef Inst2_IDDRX1F2))))
          (net dataini_t1
            (joined
              (portRef Z (instanceRef udel_dataini1))
              (portRef D (instanceRef Inst2_IDDRX1F1))))
          (net dataini_t0
            (joined
              (portRef Z (instanceRef udel_dataini0))
              (portRef D (instanceRef Inst2_IDDRX1F0))))
          (net buf_dataini4
            (joined
              (portRef O (instanceRef Inst1_IB4))
              (portRef A (instanceRef udel_dataini4))))
          (net buf_dataini3
            (joined
              (portRef O (instanceRef Inst1_IB3))
              (portRef A (instanceRef udel_dataini3))))
          (net buf_dataini2
            (joined
              (portRef O (instanceRef Inst1_IB2))
              (portRef A (instanceRef udel_dataini2))))
          (net buf_dataini1
            (joined
              (portRef O (instanceRef Inst1_IB1))
              (portRef A (instanceRef udel_dataini1))))
          (net buf_dataini0
            (joined
              (portRef O (instanceRef Inst1_IB0))
              (portRef A (instanceRef udel_dataini0))))
          (net q9
            (joined
              (portRef (member q 0))
              (portRef Q1 (instanceRef Inst2_IDDRX1F4))))
          (net q8
            (joined
              (portRef (member q 1))
              (portRef Q1 (instanceRef Inst2_IDDRX1F3))))
          (net q7
            (joined
              (portRef (member q 2))
              (portRef Q1 (instanceRef Inst2_IDDRX1F2))))
          (net q6
            (joined
              (portRef (member q 3))
              (portRef Q1 (instanceRef Inst2_IDDRX1F1))))
          (net q5
            (joined
              (portRef (member q 4))
              (portRef Q1 (instanceRef Inst2_IDDRX1F0))))
          (net q4
            (joined
              (portRef (member q 5))
              (portRef Q0 (instanceRef Inst2_IDDRX1F4))))
          (net q3
            (joined
              (portRef (member q 6))
              (portRef Q0 (instanceRef Inst2_IDDRX1F3))))
          (net q2
            (joined
              (portRef (member q 7))
              (portRef Q0 (instanceRef Inst2_IDDRX1F2))))
          (net q1
            (joined
              (portRef (member q 8))
              (portRef Q0 (instanceRef Inst2_IDDRX1F1))))
          (net q0
            (joined
              (portRef (member q 9))
              (portRef Q0 (instanceRef Inst2_IDDRX1F0))))
          (net datain4
            (joined
              (portRef (member datain 0))
              (portRef I (instanceRef Inst1_IB4))))
          (net datain3
            (joined
              (portRef (member datain 1))
              (portRef I (instanceRef Inst1_IB3))))
          (net datain2
            (joined
              (portRef (member datain 2))
              (portRef I (instanceRef Inst1_IB2))))
          (net datain1
            (joined
              (portRef (member datain 3))
              (portRef I (instanceRef Inst1_IB1))))
          (net datain0
            (joined
              (portRef (member datain 4))
              (portRef I (instanceRef Inst1_IB0))))
          (net sclk
            (joined
              (portRef sclk)
              (portRef SCLK (instanceRef Inst2_IDDRX1F0))
              (portRef SCLK (instanceRef Inst2_IDDRX1F4))
              (portRef SCLK (instanceRef Inst2_IDDRX1F3))
              (portRef SCLK (instanceRef Inst2_IDDRX1F2))
              (portRef SCLK (instanceRef Inst2_IDDRX1F1))
              (portRef O (instanceRef Inst3_IB))))
          (net reset
            (joined
              (portRef reset)
              (portRef RST (instanceRef Inst2_IDDRX1F4))
              (portRef RST (instanceRef Inst2_IDDRX1F3))
              (portRef RST (instanceRef Inst2_IDDRX1F2))
              (portRef RST (instanceRef Inst2_IDDRX1F1))
              (portRef RST (instanceRef Inst2_IDDRX1F0))))
          (net clkin
            (joined
              (portRef clkin)
              (portRef I (instanceRef Inst3_IB))))))))
  (design ddr_input
    (cellRef ddr_input
      (libraryRef ORCLIB)))
)
